h2{
  font-size: 30px;
}
h3{
  font-size: 25px;
  font-weight: 700;
}
span{
	font-size: 30px;
	font-weight: 700;
}

section{
  min-height: 300px;
}

.box{
  height: 300px;
  width: 300px;
}

#countdown360_countdown{
	height: 150px;
	width: 150px;

}
